---
layout: page
title: hl7.davinci.template
---
  <p><b>Template hl7.davinci.template version 0.1.0</b></p>
  <p>You can <a href="package.tgz">download the template</a>, though you should not need to; just refer to the template as hl7.davinci.template in your IG configuration.</p>
  <p>Dependencies: hl7.davinci.template#0.1.0 --> hl7.fhir.template#0.3.3 --> hl7.base.template#0.3.2 --> fhir.base.template#0.2.2</p>
  <p>A <a href="../history.html">full version history is published</a></p>
